<div class="main-body">
    <section id="container">
        <my-admin-navigation></my-admin-navigation>
        <my-admin-sidebar></my-admin-sidebar>
        <section id="main-content">
            <section class="wrapper">
                    <div class="market-updates">
                            <div class="col-md-3 market-update-gd">
                                <div class="market-update-block clr-block-3">
                                    <div class="col-md-4 market-update-right">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <div class="col-md-8 market-update-left">
                                        <h4>Product</h4>
                                        <h3>50</h3>
                                        <p>Total Product</p>
                                    </div>
                                  <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-3 market-update-gd">
                                <div class="market-update-block clr-block-4">
                                    <div class="col-md-4 market-update-right">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-8 market-update-left">
                                        <h4>Orders</h4>
                                        <h3>{{pendingorder}}</h3>
                                        <p>Total Pending Orders</p>
                                    </div>
                                  <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-3 market-update-gd">
                                    <div class="market-update-block clr-block-2">
                                        <div class="col-md-4 market-update-right">
                                            <i class="fa fa-eye"> </i>
                                        </div>
                                         <div class="col-md-8 market-update-left">
                                         <h4>Total Profit</h4>
                                        <h3>{{totalearning | currency}}</h3>
                                        <p>Total Profit</p>
                                      </div>
                                      <div class="clearfix"> </div>
                                    </div>
                                </div>
                           <div class="clearfix"> </div>
                        </div>	
            </section>
        </section>
    </section>
</div>