<div class="footer">
    <hr>
        <div class="container">
            <div class="col-md-3 footer-grids fgd1">
            <a href="/"><h3>Online Shop World</h3></a>
            <ul>
                <li>1234k Avenue, 4th block,</li>
                <li>New York City.</li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </ul>
            </div>
            <div class="col-md-3 footer-grids fgd2">
                <h4>Information</h4> 
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Web Icons</a></li>
                    <li><a href="">Typography</a></li>
                    <li><a href="">FAQ's</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd3">
                <h4>Shop</h4> 
                <ul>
                    <li><a href="">Jewellery</a></li>
                    <li><a href="">Cosmetics</a></li>
                    <li><a href="">Shoes</a></li>
                    <li><a href="">Deos</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd4">
                <h4>My Account</h4> 
                <ul>
                    
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                    <li><a href="">Recommended </a></li>
                    <li><a href="">Payments</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">© 2018 Online Shop World</a></p>
        </div>
    </div>